root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,json,css,scss,md}]
indent_style = space
indent_size = 4

[*.{js,jsx,ts,tsx}]
# Allow both tabs and spaces - tabs will be converted to 4 spaces
indent_style = space
indent_size = 4
# Semicolons are required (this is more enforced by linters like ESLint)
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[package.json]
indent_size = 2 