Django>=5.2.3
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.3.0
djangorestframework-camel-case==1.4.2
django-cors-headers>=4.3.1
django-structlog==10.0.0
Pillow>=10.0.0
python-decouple>=3.8
django-extensions>=3.2.3
psycopg2-binary>=2.9.7
django-filter>=23.3
drf-spectacular>=0.26.5 
opentelemetry-api==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-instrumentation-django==0.62b0
opentelemetry-instrumentation-requests==0.62b0
opentelemetry-exporter-otlp==1.41.0
